<h1>新建版块</h1>

<% form_for(@forum) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :名称%><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :描述 %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to '显示', @forum %> |
<%= link_to '返回', forums_path %>